<config>
	<language id="de">
		<translation id="MAIN MENU" text="HAUPTMENUE" />
		<translation id="EXIT" text="ENDE" />
		<translation id="EXITING" text="BEENDEN..." />
	
		<translation id="ASTRONOMICAL UNIT" text="ASTRONOMISCHE EINHEIT" />
		<translation id="GRAVITATIONAL CONSTANT" text="GRAVITATIONSKONSTANTE" />
		<translation id="VACUUM PERMITTIVITY" text="ELEKTRISCHE FELDKONSTANTE" />
		<translation id="FARADAY CONSTANT" text="FARADAYKONSTANTE" />
		<translation id="PLANCK CONTANT" text="PLANCKSCHES WIRKUNGSQUANTUM" />
		<translation id="INTENSITY AT THRESHOLD OF HEARING" text="INTENSITAET AN DER HOERSCHWELLE" />
		<translation id="BOLTZMANN CONSTANT" text="BOLTZMANNKONSTANTE" />
		<translation id="AVOGADRO CONSTANT" text="AVOGADROKONSTANTE" />
		<translation id="GAS CONSTANT" text="UNIVERSELLE GASKONSTANTE" />
		<translation id="AIR PRESSURE ON SEA LEVEL" text="STANDARTLUFTDRUCK AUF MEERESHOEHE" />
		<translation id="ABSOLUTE ZERO" text="ABSOLUTER NULLPUNKT" />
		<translation id="VACUUM PERMIABILITY" text="MAGNETISCHE FELDKONSTANTE" />
		<translation id="IDEAL GAS VOLUME PER MOL" text="MOLARES GASVOLUMEN BEI STANDARTBEDINGUNGEN" />
		<translation id="DATA OVERRIDE DISCLAIMER" text="DIESES PROGRAMM SPEICHERT DIVERSE PHYSIKALISCHE UND CHEMISCHE KONSTANTEN IN DEN VARIABLEN. WEITER MIT ENTER" />
		<translation id="DATA OVERRIDE EXPLANATION" text="GEBEN SIE DIE VARIABLENNAMEN EIN, DIE NICHT UEBERSCHRIEBEN WERDEN SOLLEN: BEISPIEL:ABOV         WEITER MIT ENTER" />
		<translation id="FOR HELP" text="FUER HILFE" />
		</language>
	<language id="en">
		<translation id="MAIN MENU" text="MAIN MENU" />
		<translation id="EXIT" text="EXIT" />
		<translation id="EXITING" text="EXITING..." />
	
		<translation id="ASTRONOMICAL UNIT" text="ASTRONOMICAL UNIT" />
		<translation id="GRAVITATIONAL CONSTANT" text="GRAVITATIONAL CONSTANT" />
		<translation id="VACUUM PERMITTIVITY" text="VACUUM PERMITTIVITY" />
		<translation id="FARADAY CONSTANT" text="FARADAY CONSTANT" />
		<translation id="PLANCK CONTANT" text="PLANCK CONTANT" />
		<translation id="INTENSITY AT THRESHOLD OF HEARING" text="INTENSITY AT THRESHOLD OF HEARING" />
		<translation id="BOLTZMANN CONSTANT" text="BOLTZMANN CONSTANT" />
		<translation id="AVOGADRO CONSTANT" text="AVOGADRO CONSTANT" />
		<translation id="GAS CONSTANT" text="AS CONSTANT" />
		<translation id="AIR PRESSURE ON SEA LEVEL" text="AIR PRESSURE ON SEA LEVEL" />
		<translation id="ABSOLUTE ZERO" text="ABSOLUTE ZERO" />
		<translation id="VACUUM PERMIABILITY" text="VACUUM PERMIABILITY" />
		<translation id="IDEAL GAS VOLUME PER MOL" text="IDEAL GAS VOLUME PER MOL" />
		<translation id="DATA OVERRIDE DISCLAIMER" text="THIS PROGRAM SAVES VARIOUS PHYSICAL AND CHEMICAL CONSTANTS IN THE INTERNAL VARIABLES. ENTER TO CONTINUE" />
		<translation id="DATA OVERRIDE EXPLANATION" text="PLEASE ENTER THE VARIABLES THAT SHOULD NOT BE OVERRIDDEN. FOR EXAMPLE: ABOV  ENTER TO CONTINUE"/>
		<translation id="FOR HELP" text="FOR HELP" />
	</language>
</config>